---
const platform = "github";
const username = "withastro";
---

<footer>
  <p>
    Learn more about my projects on <a
      href={`https://www.${platform}.com/${username}`}>{platform}</a
    >! or <a href="https://www.instagram.com/">Instagram</a>
  </p>
</footer>
